@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply transition-all duration-850;
    transition-timing-function: cubic-bezier(.18,.28,.57,.91);
  }
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
/* Ensure the image returns to the top on hover exit */
.hover\:translate-y-full:hover {
  transform: translateY(-100%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
html {
  background-color: black;
}

*{
  /* outline: 1px solid lime; */
  
}

body {
  background-color: black;

  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

h1,h2,p{
  color: white;
}

.page-wrapper {
  
  z-index: 0;
  position: relative;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.tracing-beam {
  position: absolute;
  left: 50px; /* Adjust according to your layout */
  width: 2px;
  background-color: cyan;
  z-index: 100;
  transition: height 0.1s linear, top 0.1s linear;
}

.start-div,
.end-div {
  position: absolute;
  left: 10px; /* Adjust according to your layout */
  font-weight: bold;
}
